.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient($color-secondary, $color-three);
  color: #fff;
  @include mobile {
    align-items: flex-start;
    padding: 5em 1em;
  }
  h1, h2 {
    display: block;
    text-align: center;
  }
  h1 {
    @include fadeIn(3s, .3s);
  }
  h2 {
    @include fadeIn(3s, .5s);
  }
}

.app-body {
  margin-top: -110px;
  z-index: 1;
  background: #fff;
  animation-delay: 1.1s;
  animation-duration: 1.5s;
  border-radius: 100% 100% 0 0;
  @include fadeIn(3s, .5s);
  @include mobile {
    margin-top: -50px;
  }
}

.label {
  color: $color-three;
  text-align: center;
  text-transform: uppercase;
}