.projects {
  padding: 3em;
  @include mobile {
    padding: 1em;
  }
  .icons {
    font-size: .7em;
    display: flex;
    margin-left: 10px;
    .icon {
      margin: 0 2px;
    }
  }
}
.project {
  padding: 2em 0;
  text-decoration: none;
  color: $color-text;
  cursor: pointer;
  &:hover {
    color: $color-text;
    text-decoration: none;
  }
  &--label {
    display: flex;
    align-items: center;
  }
  &--thumbnail {
    padding: 2em 0;
  }
}